@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto+Mono');

* {
    font-family: Roboto mono, monospace;
}

.title-header {
    font-family: Overpass, sans-serif;
    color: black;
}

body {
    background-color: deepskyblue
}

.form-outline {
    margin: 0 auto;
    background-color: rgb(194, 194, 194);
    color: rgb(41, 41, 41);
    max-width: 900px;
    border-radius: 20px;
}