@import url('https://fonts.googleapis.com/css?family=Montserrat|Sniglet');

* {
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);
  font-size: 26px;
  line-height: 1.2em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.main-heading {
  font-family: 'Sniglet', cursive;
}